.account-page {
  .form-container {
    max-width: 360px;
  }

  .switch-btn:hover {
    text-decoration: underline;
  }

  .account-details-main {
    padding: 50px 0;
  }

  table {
    border-collapse: collapse;
  }

  tr {
    border: 1px solid #e6e6e6;
  }

  .view-order-btn {
    border: 1px solid #e6e6e6;
    transition: all 0.3s;

    &:hover {
      background: #e6e6e6;
      // text-decoration: underline;
    }
  }

  .order-popup-container {
    z-index: 1001;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .account-page {
    .user-order-details-wrapper {
      flex-direction: column-reverse;
    }

    .order-details-wrapper {
      margin-top: 60px;
    }

    .address-details-wrapper {
      li {
        margin: 0 !important;
      }
    }

    .top-bar + div {
      margin-top: 0 !important;
    }
  }

  .order-popup-container{
    max-height: max-content !important;
    height: 100% !important;
  }
}
